<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyBlock</title>
    <link href='/StylesPages/RegisterStyles.css' rel='stylesheet'>
</head>    
<body>
    <!-- NAV BAR START -->
    <header class="navigation" role="banner">
    
      <!-- List for the logo on the page -->
      <nav aria-label="Main Navigation">
      <ul class="navbar_logo">
        <li>
          <a href="/api/home">
            <img class = logo src = "/ImagesUsed/pyBlocks_Updated.png" alt = "PyBlocks logo, linking back to home page">
          </a>
        </li>
      </ul>

      <!-- List for the Buttons on the navigation pane -->
      <ul class="navbar_buttons_list">
        <li>
          <a href ="#contact" aria-label="Contact Us page (Coming soon)">
            <button class="Nav_Buttons" aria-disabled="true">Contact Us</button> <!-- TBC in another sprint -->
          </a>
        </li>
        <li>
          <a href="#tutorials" aria-label="Tutorials page (Coming soon)">
            <button class="Nav_Buttons" aria-disabled="true">Tutorials</button> <!-- TBC in another sprint -->
          </a>
        </li>
        <li>
          <a href = "/api/play">
            <button class="Nav_Buttons" aria-label="Start coding by going to the Play page">Play</button>
          </a>
        </li>
        <li>
          <a href="#courses" aria-label="Courses page (Coming soon)">
            <button class="Nav_Buttons" aria-disabled="true">Courses</button> <!-- TBC in another sprint -->
          </a>
        </li>
        <li>
          <a href="#resources" aria-label="Resources page (Coming soon)">
            <button class="Nav_Buttons" aria-disabled="true">Resources</button> <!-- TBC in another sprint -->
          </a>
        </li>
        <li>
          <a href = "/api/login">
            <button class="Nav_Buttons">Sign In</button>
          </a>
        </li>
        <li>
          <a href="/api/register">
            <button class="Nav_Buttons">Register</button>
          </a>
        </li>
        <li>
          <a href = "/api/settings">
            <button class="Nav_Buttons">Settings</button>
          </a>
        </li>
      </ul>
    </nav>
    </header>
<!-- NAV BAR END -->

<!-- BODY START -->
      <main class="page_body">
        <h1 class="page_title">Welcome to PyBlocks!</h1>
        
        <form class="Register_Form" action="/api/register" method="POST" aria-labelledby="Register Form" >

          <fieldset>
            <legend id="registerForm" class="visually-hidden">Register Form</legend>
            <!-- FIRST NAME INPUT -->
            <div class="Form_Group">
              <label for="FName">First Name:</label>
              <input type="text" name="first_name" id="FName" placeholder="First Name" aria-required="true" required>
            </div>

            <!-- LAST NAME INPUT -->
            <div class="Form_Group">
              <label for="LName">Last Name:</label>
              <input type="text" name="last_name" id="LName" placeholder="Last Name" aria-required="true" required> 
            </div>

            <!-- EMAIL INPUT -->
            <div class="Form_Group">
              <label for="Email">Email:</label>
              <input type="email" name="email" id="Email" placeholder="Email" aria-required="true" required>
            </div>

            <!-- PASSWORD INPUT -->
            <div class="Form_Group">
              <label for="Password">Password:</label>
              <input type="password" name="password" id="Password" placeholder="Password" aria-required="true" required> 
            </div>

            <!-- REGISTER BUTTON -->
            <div class="Form_Group Button_Center">
              <button type="submit" class="Register_Button" aria-label="Register to create an account">Register</button>
            </div>
          </fieldset>
        </form>
      </main>
<!-- BODY END -->

<!-- FOOTER START -->
<footer role="contentinfo">

  <!-- List for the logo on the page -->
  <ul class="navbar_logo">
    <li>
      <a href="/api/home">
        <img class = logo src = "/ImagesUsed/pyBlocks_Updated.png" alt = "PyBlocks logo, linking back to home page">
      </a>
    </li>
  </ul>

  <!-- List for the links in the footer -->
  <ul class="footer_buttons">
    <li><a href="#resources" aria-label="Resources section (Coming soon)">Resources</a></li>
    <li><a href="#tutorials" aria-label="Tutorials section (Coming soon)">Tutorials</a></li>
    <li><a href="#editors" aria-label="Open blank editors (Coming soon)">Open Blank Editors</a></li>
  </ul>
  <!-- holds links and some navigation, may add more later -->
</footer>
<!-- FOOTER END -->
</body>
</html>

